In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
credit_card_data = pd.read_csv('creditcard.csv')

In [3]:
credit_card_data.sample(10)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
100029,67390.0,-0.957030,1.028749,1.449023,0.319489,-0.174647,-0.478766,0.525674,-0.147350,0.075495,...,-0.217660,-0.470786,0.085374,0.267608,-0.631976,0.114944,-0.109297,0.054983,9.99,0
247954,153743.0,-1.336058,0.312551,2.495012,-1.138258,-1.603778,0.113928,-0.936666,0.364849,0.128153,...,0.185246,0.726227,-0.303867,0.396610,0.288858,-0.006238,-0.484031,-0.132803,1.00,0
194669,130708.0,-0.064194,0.768204,0.240928,0.792660,1.034406,0.283207,0.980314,-0.105321,0.304259,...,0.111446,0.753522,-0.392661,0.065446,0.084648,-0.263875,0.273995,0.018227,19.00,0
107308,70381.0,1.159283,0.171969,0.297208,1.193697,0.078322,0.330171,-0.051672,0.154988,0.054651,...,-0.076198,-0.000557,-0.108486,-0.287825,0.679653,-0.309110,0.037023,0.001244,1.00,0
177259,123103.0,0.128967,-0.508803,-0.120019,-1.974510,-0.234984,0.110819,0.731517,-0.050375,-0.922649,...,-0.139487,-0.904019,0.629510,-0.132078,-0.605422,-0.749668,-0.039763,0.018545,187.73,0
271969,164847.0,1.847039,-0.563491,-1.788678,0.481869,2.055687,4.172222,-0.836304,1.072948,1.018934,...,-0.503520,-1.355407,0.444055,0.618423,-0.295999,-1.088460,0.066726,-0.030116,45.90,0
243312,151881.0,1.468203,-1.060205,-1.699831,0.471797,-0.289740,-1.158340,0.677819,-0.525142,0.266553,...,0.406046,0.596357,-0.266086,0.003981,-0.016344,0.756806,-0.146446,-0.013514,329.75,0
203156,134681.0,1.461753,-2.333463,-2.290182,-1.557044,1.041800,3.813652,-1.023649,0.875903,-0.048153,...,-0.000073,-0.835094,0.154516,0.685623,-0.570703,-0.589648,-0.037937,0.011885,363.10,0
117623,74744.0,-1.946450,0.607795,2.032011,1.793418,0.295576,-0.317895,0.462312,0.257688,-0.548826,...,-0.131240,-0.052397,0.225194,0.366780,0.698533,-0.052957,-0.421874,-0.260735,17.11,0
10601,17708.0,-1.147207,1.403443,1.039369,1.190107,0.544046,1.963182,-0.159004,1.059518,0.720213,...,-0.034500,0.554594,0.001219,-1.055776,-0.307119,-0.173495,0.443584,0.170011,15.99,0

In [4]:
credit_card_data.shape

(284807, 31)

In [6]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [7]:
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [8]:
credit_card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [9]:
legit = credit_card_data[credit_card_data['Class']==0]
fraud = credit_card_data[credit_card_data['Class']==1]

In [11]:
legit.sample(10)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
95748,65447.0,-0.407308,0.620807,1.789188,0.143229,0.345780,0.535819,0.091629,0.218079,-0.355407,...,-0.068639,-0.207580,-0.215514,-0.938405,0.149270,0.442466,-0.003959,-0.017890,11.69,0
284437,172441.0,-0.335984,-0.475825,1.190281,-3.248392,-0.013621,-0.099846,0.135235,-0.161766,-1.859583,...,-0.296070,-0.430446,-0.475562,0.012548,0.732063,-0.136446,-0.164267,-0.183708,10.00,0
256750,157840.0,-0.289766,0.628559,0.943144,-0.389693,0.560810,-0.049196,0.588694,0.110346,-0.763375,...,-0.301833,-1.072553,0.266429,0.610976,-0.926387,0.125821,0.083807,0.160187,27.56,0
268491,163238.0,-4.606374,2.046196,-3.431885,2.778104,0.179566,-0.467266,-1.997887,-0.767274,-1.680395,...,-1.308813,-0.027726,-1.188104,0.301045,0.816217,0.024491,-0.248380,-0.517721,15.00,0
18898,29851.0,0.456971,-1.410299,0.319586,0.312723,-0.844184,0.623287,-0.175369,0.272355,0.414373,...,0.238347,0.052005,-0.243752,-0.206195,-0.056400,1.021130,-0.096551,0.050036,349.49,0
229163,145823.0,2.147879,-0.889390,-1.549378,-0.987122,-0.397215,-0.820304,-0.337046,-0.192481,-0.545614,...,0.054013,0.040208,0.105837,-0.510043,-0.027257,-0.268827,-0.057532,-0.074875,44.38,0
199089,132802.0,2.187962,-1.013546,-1.020151,-1.239974,-0.324659,0.516451,-1.088307,0.096164,-0.201283,...,0.314268,0.951101,0.006587,-0.288076,0.009516,-0.078775,0.004501,-0.058242,21.99,0
73748,55263.0,0.581907,-1.013612,0.757054,0.839033,-1.217019,-0.309775,-0.122747,0.018237,0.464442,...,0.172877,-0.148534,-0.108379,0.435765,-0.091850,0.334672,-0.052093,0.076573,304.00,0
234948,148182.0,-1.268732,-1.397518,1.926507,-1.737715,-0.651648,-0.243891,-0.401537,-0.326717,-1.941058,...,-0.474992,-0.691856,-0.106277,1.071497,-0.016038,-0.276573,-0.252649,0.019651,139.95,0
167067,118468.0,2.127176,0.001436,-1.518284,0.116469,0.580745,-0.338401,0.184351,-0.252432,0.415488,...,-0.332162,-0.804713,0.270819,0.060427,-0.142525,0.204607,-0.069488,-0.058242,1.29,0

In [12]:
fraud.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
541,406.0,-2.312227,1.951992,-1.609851,3.997906,-0.522188,-1.426545,-2.537387,1.391657,-2.770089,...,0.517232,-0.035049,-0.465211,0.320198,0.044519,0.177840,0.261145,-0.143276,0.00,1
623,472.0,-3.043541,-3.157307,1.088463,2.288644,1.359805,-1.064823,0.325574,-0.067794,-0.270953,...,0.661696,0.435477,1.375966,-0.293803,0.279798,-0.145362,-0.252773,0.035764,529.00,1
4920,4462.0,-2.303350,1.759247,-0.359745,2.330243,-0.821628,-0.075788,0.562320,-0.399147,-0.238253,...,-0.294166,-0.932391,0.172726,-0.087330,-0.156114,-0.542628,0.039566,-0.153029,239.93,1
6108,6986.0,-4.397974,1.358367,-2.592844,2.679787,-1.128131,-1.706536,-3.496197,-0.248778,-0.247768,...,0.573574,0.176968,-0.436207,-0.053502,0.252405,-0.657488,-0.827136,0.849573,59.00,1
6329,7519.0,1.234235,3.019740,-4.304597,4.732795,3.624201,-1.357746,1.713445,-0.496358,-1.282858,...,-0.379068,-0.704181,-0.656805,-1.632653,1.488901,0.566797,-0.010016,0.146793,1.00,1

In [14]:
legit.shape

(284315, 31)

In [15]:
fraud.shape

(492, 31)

In [17]:
legit['Amount'].describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [18]:
fraud['Amount'].describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [19]:
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [20]:
legit_sample = legit.sample(n=492)

In [21]:
new_dataset = pd.concat([legit_sample,fraud],axis=0)

In [24]:
new_dataset.head(5)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
260560,159617.0,-1.029032,1.468947,0.111734,1.133079,1.692260,-0.906488,1.367355,-0.259455,-1.062655,...,-0.037385,0.137409,-0.567816,1.009018,1.164295,-0.236174,0.196072,0.173777,17.77,0
62755,50415.0,1.204011,-0.349919,0.247443,-0.855072,-0.629355,-0.540818,-0.190586,-0.000173,1.370719,...,-0.213474,-0.434306,-0.072723,0.009169,0.613840,-0.841043,0.057645,0.015843,26.95,0
4622,3989.0,-4.077689,1.171922,-2.256165,-0.086509,1.217896,3.444430,-1.200452,1.330527,0.614737,...,0.613879,-1.088911,-0.131206,0.937078,-0.110037,-0.796209,-1.687310,-0.721744,9.82,0
20275,30917.0,1.347498,-0.197035,-0.384123,-0.720416,-0.324437,-0.917797,-0.114213,-0.216664,-1.461100,...,-0.200077,-0.771947,0.027439,-0.075680,0.375224,-0.532273,-0.009918,0.028261,41.12,0
64789,51307.0,-3.941035,2.715574,-1.223655,-3.064446,1.157182,5.944128,-5.499575,-12.348536,-0.930395,...,5.450146,-0.945687,1.028579,0.868628,0.248545,-0.171343,0.130685,0.011737,16.73,0

In [25]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [26]:
new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [29]:
 new_dataset.groupby("Class").mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,92969.522358,-0.104616,-0.063383,0.049403,-0.102518,0.041638,0.008291,-0.005140,0.063125,-0.016134,...,0.020988,0.018373,0.056953,-0.034729,0.033781,-0.011950,-0.001065,-0.013496,-0.011541,88.627581
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [30]:
X = new_dataset.drop(columns='Class',axis = 1)
Y = new_dataset['Class']

In [31]:
X

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
260560,159617.0,-1.029032,1.468947,0.111734,1.133079,1.692260,-0.906488,1.367355,-0.259455,-1.062655,...,0.220377,-0.037385,0.137409,-0.567816,1.009018,1.164295,-0.236174,0.196072,0.173777,17.77
62755,50415.0,1.204011,-0.349919,0.247443,-0.855072,-0.629355,-0.540818,-0.190586,-0.000173,1.370719,...,-0.084553,-0.213474,-0.434306,-0.072723,0.009169,0.613840,-0.841043,0.057645,0.015843,26.95
4622,3989.0,-4.077689,1.171922,-2.256165,-0.086509,1.217896,3.444430,-1.200452,1.330527,0.614737,...,-0.871472,0.613879,-1.088911,-0.131206,0.937078,-0.110037,-0.796209,-1.687310,-0.721744,9.82
20275,30917.0,1.347498,-0.197035,-0.384123,-0.720416,-0.324437,-0.917797,-0.114213,-0.216664,-1.461100,...,0.218586,-0.200077,-0.771947,0.027439,-0.075680,0.375224,-0.532273,-0.009918,0.028261,41.12
64789,51307.0,-3.941035,2.715574,-1.223655,-3.064446,1.157182,5.944128,-5.499575,-12.348536,-0.930395,...,-0.212416,5.450146,-0.945687,1.028579,0.868628,0.248545,-0.171343,0.130685,0.011737,16.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,1.252967,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.226138,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.247968,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.306271,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.017652,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53

In [32]:
Y

260560    0
62755     0
4622      0
20275     0
64789     0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [33]:
 X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)

In [36]:
print(X_train.shape, X_test.shape, Y_train.shape, Y_test.shape)

(787, 30) (197, 30) (787,) (197,)

In [37]:
model = LogisticRegression()

In [38]:
model.fit(X_train,Y_train)

LogisticRegression()

In [49]:
X_test_prediction = model.predict(X_test)

In [50]:
test_data_accuracy = accuracy_score(X_test_prediction,Y_test)

In [51]:
test_data_accuracy

0.9187817258883249

In [52]:
X_train_prediction = model.predict(X_train)

In [53]:
train_data_accuracy = accuracy_score(X_train_prediction,Y_train)

In [54]:
train_data_accuracy

0.9415501905972046